/*SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* MAIN COLOR: #087f5b 
GREY COLOUR: #343a40
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

.main-nav-link:hover {
  /* Add your hover styles here */
  color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #99cc99;

  height: 24px;
  padding: 24px;
  position: relative;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 48px;
  width: 48px;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* .main-nav {
  background-color: #ddd;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
} */
/* NAV */

/* 
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
} */

/* .main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
} */
/* .sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem, 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .section-hero {
  margin-top: 9.6rem;
} */

/* HERO SECTION */
/* CSS */
/* CSS */
.section-hero {
  background-color: #99cc99;
  padding: 9.6rem 0;
}
.hero {
  /* Add styles to position the hero content */
  max-width: 900px;
  margin: 0 auto;
  gap: 8.6rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-img {
  /* Add styles to size the hero image */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CSS */

.heading-primary {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  letter-spacing: -0.5px;

  margin-top: 36px;
  align-items: center;
}

/* CSS */

/* GENERAL STYLING */
h4 {
  margin-bottom: 24px;
  color: #9243a6;
}

body {
  font-family: "Inter", sans-serif;
  color: #1b091f;
  text-align: justify;
  line-height: 1.2;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}

li::before {
  margin-right: 12px;
}
.accordian {
  max-width: 1300px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number,
.text {
  font-size: 24px;
  font-weight: 500;
  /* color: #087f5b; */
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #862e9c;
}

.para-bottom-zero,
.english-para-title {
  margin-bottom: 0 !important;
  color: #9243a6;
}

.para-top-bottom-zero {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.downP,
.zerop {
  margin-top: 18px;
}

.hidden-box {
  grid-column: 2;
  display: none;
  position: relative;
}
.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}
.hidden-box ul {
  color: #1b091f;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.hidden-box .translated-text {
  background-color: #862e9c;
  color: #fff;
  padding: 12px 24px 48px 24px;
  border-radius: 12px;
}

.open {
  border-top: 4px solid#862e9c;
}
.open .hidden-box {
  display: block;
}
.open .number,
.open .text {
  color: #862e9c;
}

/* TRANSLATION */

.hover-translate {
  position: relative;
}
/* 
.translation {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
} */

.translation {
  display: none;
  position: absolute;
  text-decoration: none;
  align-items: center;
  color: #862e9c;
  bottom: 100%;
  left: 0;
  padding: 8px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  transition: all 0.3s;
}

.hover-translate:hover .translation {
  display: block;
}

.pcda {
  align-items: center;
}

.engp {
  color: #b682c4;
}

.translate-button {
  padding: 10px 20px;
  font-size: 15px;
  margin: 10px;
  border-radius: 9px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.translated-text {
  margin-top: 0;
  padding-top: 0;
}

/* ------------------------------------------------------------------------------------------------------------ */

@media screen and (max-width: 59em) {
  /* styles for mobile devices */
  body {
    padding: 0;
    margin: 0;
  }

  .accordian {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  div {
    margin: 0;
    padding: 0;
  }

  .number,
  .text {
    font-size: 18px;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    /* color: #087f5b; */
  }
  .translation {
    padding: 0;
    margin: 0;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
    background-image: url(hero-mobile.jpg);
    background-size: cover;
  }

  .hero-img-box {
    opacity: 0;
  }

  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/*
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  } */

/* CSS */
/* CSS */

/* .hidden-box {
    grid-column: 1;
  } */
